.ResetPassword {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* padding: 110px 0 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResetPassword::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: conic-gradient(
    rgba(94, 92, 214, 0.99) 0deg,
    rgba(84, 76, 200, 0.99) 70deg,
    rgba(70, 60, 180, 0.99) 140deg,
    rgba(60, 50, 160, 0.99) 210deg,
    rgba(50, 40, 140, 0.99) 290deg,
    rgba(40, 30, 120, 0.99) 360deg
  );
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.3;
  transform-origin: center center;
  transform: translate(0px, 90vh) rotate(0deg);
}

.resetmain {
  width: 440px;
  height: auto;
  /* margin: 0 auto; */
}

.resetmain h1 {
  font-weight: 650;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.resetmain form {
  padding-top: 5px;
}
