.headings {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #f3f4fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
}
