.GreenBtn {
  text-underline-position: under;
  position: relative;
  width: fit-content;
  height: 36px;
  font-size: 14px;
  line-height: 10px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: 0.12s ease-out;
  box-shadow: 1px 2px 2.5px -2.5px rgba(63, 71, 93, 0.13),
    0.4px 0.8px 1px -1.2px rgba(63, 71, 93, 0.14),
    0px 0.5px 1.5px 0px rgba(63, 71, 93, 0.15);
  background: #008a27;
  color: #f3f4fa;
}

.GreenBtn::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.4;
  border-radius: inherit;
  transition: opacity 0.12s ease-out;
}
.GreenBtn:hover {
  box-shadow: 4px 8px 10.1px -2.5px rgba(63, 71, 93, 0.12),
    1.7px 3.3px 4.2px -1.7px rgba(63, 71, 93, 0.13),
    0.7px 1.4px 1.8px -0.8px rgba(63, 71, 93, 0.14),
    0.3px 0.5px 0.7px 0px rgba(63, 71, 93, 0.15);
}
.GreenBtn:hover::before {
  opacity: 1;
}

.GreenBtn svg{
  height: 16px;
}
