.linkContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  border-radius: 6px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 14px;
  padding: 0px 8px;
  cursor: default;
  color: #f3f4fa;
  background: #575d71;
}

.linkContainer svg {
  cursor: pointer;
  width: 16px;
  height: 16px;
  color: #f3f4fa;
}
