.link{
    text-decoration: none;
    padding: 0px 12px;
    font-size: 14px;
    height: 32px;
    color: #1a1b21;
    background-color: #5990ff;
    border-color: #5990ff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    transition: border-color 0.12s ease-out, background-color 0.12s ease-out !important;
    font-family: Arial - 500;
    line-height: normal;
    margin: 5px 0 0px;
    display: flex;
    align-items: center;
    gap: 6px;
    width: max-content;
    transition: 0.2s;
}

.link :hover{
    background-color: #4f9eff;
}