.header {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
