.header {
  position: sticky;
  width: 100%;
  top: 0px;
  transition: background-color 0.25s;
  background-color: var(--nav-active-link-bg);
  padding: 64px 24px 40px;
  z-index: 4;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.content {
  /* max-width: 960px; */
  max-width: 1068px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.content h1 {
  transition: color 0.25s;
  color: var(--heading-color);
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 52px 24px 32px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 40px 24px 24px;
  }
}
