.optionsMain {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .optionName {
    margin: 0;
    color: #f3f4fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .click {
    color: #6f9dff;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
  }
  
  .click:hover {
    color: #80a9ff;
  }
  
  .optionName a {
    color: #6f9dff;
  }
  

  .sections {
    padding: 18px 0;
  }
  
  .optionsMain {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .optionName {
    margin: 0;
    color: #f3f4fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .optionName a {
    color: #6f9dff;
  }
  