.randioButton {
    margin: 0 6px 0 0;
    accent-color: #6f9dff; /* Modern way to change the radio button color */
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .optionsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .description {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #f3f4fa;
    margin-bottom: 8px;
  }
  
  .labelWrapper {
    display: flex;
    align-items: center; /* Align radio button and text vertically */
    cursor: pointer;
  }
  
  .optionText {
    font-size: 14px;
    color: #f3f4fa; /* Change the color of the value */
  }