.osCheck {
  padding: 10px 0;
  border-top: 1px solid #b2b8cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.check svg {
  height: 18px;
  width: 18px;
  color: #23a64a ;
}
